# Database
DATABASE_URL=postgresql://localhost:5432/feedback?schema=public

# App
NODE_ENV=development
PORT=3000

# JWT
JWT_SECRET=your-super-secret-jwt-key-min-32-chars-long-here
JWT_EXPIRATION=15m

# REDIS
REDIS_URL=redis://localhost:6379

# RESEND
RESEND_API_KEY=your-resend-api-key-here